# Configuración de Base de Datos PostgreSQL
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=nombre
DB_HOST=postgres
DB_PORT=1111

# URL de conexión para el Backend
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Configuración Neo4j
NEO4J_USER=usuario
NEO4J_PASSWORD=contraseña

# Flyway
FLYWAY_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}

#OPENAI
OPENAI_API_KEY=12345

#Clave secreta
JWT_SECRET=Clave_secreta_que_debe_coincidir_con_el_frontend